/* #region variables */
:root{
    /* Color pallete */
    --dark-blue: #031B28;
    --medium-blue: #0b2838;
    --light-blue: #083248;
    --red: #8C0E0F;
    --gold: #E89C31;
    --dark-gold: #DBA858;
}
/* #endregion */